<div class="container mt-5">
  <h2>Lista de Usuários</h2>
  <table class="table table-bordered">
    <caption>Listagem de usuarios</caption>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th class="text-center">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="col-4">{{ user.name }}</td>
      <td class="col-4">{{ user.email }}</td>
      <td class="col-2 text-center">
          <button class="btn btn-primary btn-sm btn-block" (click)="viewDetails(user)">Detalhes</button>
          <button class="btn btn-warning btn-sm btn-block" (click)="editUser(user)">Editar</button>
          <button class="btn btn-danger btn-sm btn-block" (click)="deleteUser(user.id)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
